<h1>Admin Dashboard</h1>
<table class="table table-striped table-bordered table-hover h3">
  <tr>
    <td>Products</td> 
    <td class="success text-center"><%= @product_count %></td> 
  </tr>
  <tr>
    <td>Categories</td> 
    <td class="success text-center"><%= @category_count %></td> 
  </tr>
</table>