<section>
  <header class="page-header">
    <h1>Categories</h1>
    </header>


    <%= link_to '+ Add Category', [:new, :admin, :category], class: 'btn' %>

  <div class="panel panel-default">

    <table class="table table-bordered table-hover">
      <thead class="text-center">
        <tr >
          <th>Category Name</th>
          <th>Created at</th>
        </tr>
      </thead>
      <tbody>
        <% @categories.each do |category|%>
          <tr>
            <td><%= category.name %> </td>
            <td><%= category.created_at %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</section>